body {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
}
@font-face {
    font-family: 'BebasNeue';
    src: url('../../../../../fonts/BebasNeueCyrillic.ttf')  format('truetype');
}

h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #23a1d1;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
/* top */
#top {
	//background-color: #EEEEEE;
	//border-bottom: 1px solid #e2e2e2;
	padding: 4px 0px 3px 0;
	margin: 0 0 20px 0;
	min-height: 40px;
}
#top .container {
	padding: 0 20px;
}
#top #currency .currency-select {
	text-align: left;
}
#top #currency .currency-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #888;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-links {
	padding-top: 6px;
}
#top-links a + a {
	margin-left: 15px;
}
/* logo */
#logo {
	margin: 0 0 10px 0;
}
/* search */
#search {
	margin-bottom: 10px;
}
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
}
#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 35px;
	text-shadow: 0 1px 0 #FFF;
}
/* cart */
#cart {
	margin-bottom: 10px;
}
#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#menu {
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
	min-height: 40px;
}
#menu .nav > li > a {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 10px 15px 10px 15px;
	min-height: 15px;
	background-color: transparent;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: rgba(0, 0, 0, 0.1);
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
/* content */
#content {
	min-height: 600px;
}
/* footer */
footer {
	margin-top: 30px;
	padding-top: 30px;
	//background-color: #303030;
	//border-top: 1px solid #ddd;
	color: black;
        padding-bottom: 50px;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: black;
}
footer a:hover {
	color: grey;
}
footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: black;
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 20px 0;
	padding: 8px 0;
	border: 1px solid #ddd;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	text-shadow: 0 1px 0 #FFF;
	padding: 0 20px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
	top: -3px;
	right: -5px;
	width: 26px;
	height: 26px;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #e7e7e7;
	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
	background-repeat: repeat-x;
	border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #1f90bb;
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
	//border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: white;
	background: #337ab7;
	//border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	//overflow: auto;
        position: relative;
}
.product-thumb:after{
        display:block;
        content: '';
        clear: both;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb h4 {
	font-weight: bold;
}
.product-thumb .caption {
	padding: 0 20px;
	min-height: 180px;
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #444;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	width: 60%;
	border: none;
	display: inline-block;
	float: left;
	background-color: #eee;
	color: #888;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}
.login_register_form{
    position: absolute;
    top: 30px;
    right: 1px;
    z-index: 100;
    height: auto;
    display: none;
    background: white;
    color: black;
    width: 300px;
    padding:10px;
    border-radius: 0 0 4px 4px;
    padding-bottom: 40px;
    background-image: url('../../../../../image/catalog/login_fon.png');
}
.you_have_qustion{
    position: absolute;
    top: 30px;
    right: 1px;
    z-index: 100;
    height: auto;
    display: none;
    background: white;
    color: black;
    width: 500px;
    padding:20px;
    border-radius: 0 0 4px 4px;
    padding-bottom: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.call_back_block{
    position: absolute;
    top: 30px;
    z-index: 100;
    height: auto;
    display: none;
    background: white;
    color: black;
    width: 300px;
    padding:10px;
    border-radius: 0 0 4px 4px;
    padding-bottom: 40px;
    background-image: url('../../../../../image/catalog/fon_call_back.png');
}

.login_register_form_one{
    //position: absolute;
    //top: 30px;
    //right: 1px;
    z-index: 100;
    height: auto;
    display: none;
    background: white;
    color: black;
    width: 100%;
    padding:10px;
    border-radius: 0 0 4px 4px;
    padding-bottom: 40px;
    background-image: url('../../../../../image/catalog/login_fon.png');
}

.call_back_mobile{
    //position: absolute;
    //top: 30px;
    //right: 1px;
    z-index: 100;
    height: auto;
    display: none;
    background: white;
    color: black;
    width: 100%;
    padding:10px;
    border-radius: 0 0 4px 4px;
    padding-bottom: 40px;
    background-image: url('../../../../../image/catalog/fon_call_back.png');
}

.container{
    width:100%;
}

.button_up_icon{
    background-image: url('../../../../../image/catalog/button_up.png');
    background-repeat:no-repeat;
}

.footer_russia_icon{
    background-image: url('../../../../../image/catalog/footer_russia.png');
    background-repeat:no-repeat;
    background-size: 100%;
}

.footer_map_icon{
    background-image: url('../../../../../image/catalog/footer_map.png');
    background-repeat:no-repeat;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.header_heart_icon{
    background-image: url('../../../../../image/catalog/icon/header_icon_heard.png');
    background-repeat:no-repeat;
    background-size:100%;
}

.header_vesu_icon{
    background-image: url('../../../../../image/catalog/icon/header_icon_vesu.png');
    background-repeat:no-repeat;
    background-size:100%;
}

.login_icon_header{
    background-image: url('../../../../../image/catalog/icon/login_icon_header.png');
    background-repeat:no-repeat;
    background-size:100%;
}



.mobile_call{
    background-image: url('../../../../../image/catalog/icon/call_back_mobile.png');
    background-repeat:no-repeat;
    background-size:100%;
}
.cart_mobile_icon{
    background-image: url('../../../../../image/catalog/icon/icon_cart_white.png');
    background-repeat:no-repeat;
    background-size:100%;
}

.cart_mobile_icon_2{
    background-image: url('../../../../../image/catalog/icon/icon_cart_white_2.png');
    background-repeat:no-repeat;
    background-size:100%;
}

.key_mobile_icon_2{
    background-image: url('../../../../../image/catalog/icon/icon_key_white.png');
    background-repeat:no-repeat;
    background-size:100%;
}

.search_mobile_icon_2{
    background-image: url('../../../../../image/catalog/icon/Icon_search_white.png');
    background-repeat:no-repeat;
    background-size:100%;
}

.mobile_menu_header li:hover{
    background-color: #292f7b !important;
}
.mobile_menu_header li{
    width: 50px;
    height:53px;
}
.navbar-header a{
    position: relative;
    display: block;
    padding: 16px 15px;
}
.navbar-header a:hover{
    background-color: #292f7b !important;
    cursor:pointer;
}

@media (max-width: 767px){
    .navbar-nav .open .dropdown-menu{
        margin-left:30px !important;
    }

}
.mobile_search #searchS{
    display:none !important;
}
input[name="search"]{
    padding-left:7px;
}

.icon_visa_pay{
    background-image: url('../../../../../image/catalog/icon/icon_visa_pay.png');
    background-repeat:no-repeat;
    background-size:100%;
}

.icon_yandex_pay{
    background-image: url('../../../../../image/catalog/icon/icon_yandex_pay.png');
    background-repeat:no-repeat;
    background-size:100%;
}

.icon_masercard_pay{
    background-image: url('../../../../../image/catalog/icon/icon_masercard_pay.png');
    background-repeat:no-repeat;
    background-size:100%;
}


.call_back_banner{
    background-image: url('../../../../../image/catalog/call_back_banner_home_page.png');
    background-repeat:no-repeat;
    background-size:100%;
}

.action_product_icon{
    background-image: url('../../../../../image/catalog/icon/action_product_icon.png');
    background-repeat:no-repeat;
    background-size:100%;
}

.action_fon_home_page{
    background-image: url('../../../../../image/catalog/action_fon_home_page_2.png');
    //background-repeat:no-repeat;
    background-size:100%;
}

.action_fon_home_page_2{
    background-image: url('../../../../../image/catalog/action_fon_home_page.png');
    //background-repeat:no-repeat;
    background-size:100%;
}

.action_fon_home_page_3{
    background-image: url('../../../../../image/catalog/action_fon_home_page_3.png');
    //background-repeat:no-repeat;
    background-size:100%;
}

.cart_icon_header{
    background-image: url('../../../../../image/catalog/icon/cart_icon_header.png');
    background-repeat:no-repeat;
    background-size:100%;
}

.call_back_banner h5{
    width:190px;
}

@media (min-width: 992px) and (max-width: 1150px){
    .call_back_banner h3{
        font-size: 17px;
    }
    .call_back_banner h2{
        font-size: 20px;
    }
    .call_back_banner h5{
        width: 120px;
    }
}

@media (min-width: 300px) and (max-width: 400px){
    .call_back_banner h3{
        font-size: 17px;
    }
    .call_back_banner h2{
        font-size: 20px;
    }
    .call_back_banner h5{
        width: 120px;
    }
}

.information_page_dostavka{
    background-image: url('../../../../../image/catalog/icon/information_page_dostavka.png');
    background-repeat:no-repeat;
    background-size:100%;
}

.information_page_house{
    background-image: url('../../../../../image/catalog/icon/information_page_bydunok.png');
    background-repeat:no-repeat;
    background-size:100%;
}

.information_page_garantia{
    background-image: url('../../../../../image/catalog/icon/information_page_garantia.png');
    background-repeat:no-repeat;
    background-size:100%;
}


.information_page_marker{
    background-image: url('../../../../../image/catalog/icon/information_page_marker.png');
    background-repeat:no-repeat;
    background-size:100%;
}

.information_page_oplata{
    background-image: url('../../../../../image/catalog/icon/information_page_oplata.png');
    background-repeat:no-repeat;
    background-size:100%;
}

.information_page_usluga{
    background-image: url('../../../../../image/catalog/icon/information_page_usluga.png');
    background-repeat:no-repeat;
    background-size:100%;
}

.information_icon_russia{
    background-image: url('../../../../../image/catalog/icon/information_icon_russia.png');
    background-repeat:no-repeat;
    background-position: center;
    background-position: 20% 0px;
}

.information_page_fon_1{
    background-image: url('../../../../../image/catalog/information_page_fon_1.png');
    background-repeat:no-repeat;
}

.information_fon_adressa{
    background-image: url('../../../../../image/catalog/information_fon_adressa.png');
    background-repeat:no-repeat;
    background-size:100%;
}

.delivery_icon_nal{
    background-image: url('../../../../../image/catalog/icon/delivery_icon_nal.png');
    background-repeat:no-repeat;
    background-size: 100%;
}
.delivery_icon_elemoney{
    background-image: url('../../../../../image/catalog/icon/delivery_icon_elemoney.png');
    background-repeat:no-repeat;
    background-size: 100%;
}
.delivery_icon_cart{
    background-image: url('../../../../../image/catalog/icon/delivery_icon_cart.png');
    background-repeat:no-repeat;
    background-size: 100%;
}
.delivery_icon_beznal{
    background-image: url('../../../../../image/catalog/icon/delivery_icon_beznal.png');
    background-repeat:no-repeat;
    background-size: 100%;
}
.product_nedavno_pereg{
    background-image: url('../../../../../image/catalog/product_nedavno_pereg.png');
    background-repeat:no-repeat;
}

.product_nedavno_pereg{
    background-image: url('../../../../../image/catalog/product_nedavno_pereg.png');
    background-repeat:no-repeat;
}

.dropdown-menu{
    width:280px;
    padding-left:20px;
}
#popular_new_tabs>li>a, #popular_new_tabs>li>a:focus, #popular_new_tabs>li>a:hover{
    text-decoration: underline;
    font-size:15px;
}
#popular_new_tabs>li.active>a, #popular_new_tabs>li.active>a:focus, #popular_new_tabs>li.active>a:hover{
    color:#ea5b23;
    border:1px solid #ea5b23;
    border-radius:0px;
    text-decoration: underline;
    font-size:15px;
}
#popular_new_tabs{
    border:0px solid transparent;
}
.slider_show_home>.owl-controls{
    margin-top: -66px;
}

.owl-controls .owl-page.active span{
    background-color: #f15923 !important;
}
.owl-controls .owl-page span{
    background-color: #ffcd7c !important;
}
footer{
    background-color: #fff9ef;
}

@media (min-width: 100px) and (max-width: 400px){
    .footer_russia_icon{
        width: 100px !important;
        height: 100px !important;
    }
}
.product_bottom_info{
    //margin-right: 5px;
    margin-left: -1px;
    width:100%;
    padding-top:0px !important;
    box-sizing: content-box;
    left:0px;
    background-color:white;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    z-index:50;position:absolute;
    display:none;
    bottom:-75px !important;
    padding-top:10px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.3);
    margin-top: -2px;
}

.product-list>.product_grid{
    display:none;
}
.product-grid>.product_list{
    display:none;
}

.account_top_menu>li.active>a{
    border-radius: 0px;
    background-color:#fab446 !important;
    color:black !important;
    font-weight: bold;
    border:0px solid transparent !important;
}
.account_top_menu>li.active>a:hover{
    border-radius: 0px;
    background-color:#fab446;
    color:black;
    font-weight: bold;
    border:0px solid transparent;

}
.account_top_menu>li>a:hover{
    border-radius: 0px;
    background-color:#fab446;
    color:black;
    font-weight: bold;
    border:0px solid transparent;
}
.account_top_menu>li>a{
    color:black;
    font-weight: bold;
}
.account_top_menu{
    background-color: #f6f6f6;
}

#bs-example-navbar-collapse-2 .navbar-nav>li.active>a:hover{
    background-color:#fab446 !important;
}
#bs-example-navbar-collapse-2 .navbar-nav>li>a:hover{
    background-color:#fab446 !important;
}

#bs-example-navbar-collapse-2 .navbar-nav>li.active>a{
    background-color:#fab446 !important;
    color:black;
    font-weight: bold;
}
#bs-example-navbar-collapse-2 .navbar-nav>li>a{
    padding-top:7px;
    padding-bottom:7px;
    color:black;
    font-weight: bold;
}
.buttonAccountTabs {
    border-color: transparent !important;
}
.buttonAccountTabs> span.icon-bar{
    background-color:#fab446 !important;
}
.buttonAccountTabs> .icon-bar {
    color:red !important;
}

@media (min-width: 100px) and (max-width: 765px){
    #bs-example-navbar-collapse-2 .navbar-nav>li>a{
        padding-left:30px;
    }

}
.profileText>.col-sm-12{
    padding-top:5px;
    padding-bottom: 5px;
}
.profileText>.col-sm-12>label{
    font-size:15px;
}

.profileText>.col-sm-12>.col-sm-8{
    font-size:15px;
}
.add_address>a{
    color:#387ab0;
    cursor:pointer;
    text-decoration: underline;
}

.cart_icon_account{
    background-image: url('../../../../../image/catalog/icon/cart_icon_account.png');
    background-repeat:no-repeat;
}
.changeSelectArrow ~ label{
    color:black;
}
.changeSelectArrow{
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
    text-indent: 1px;
    text-overflow: '';
    background-image: url('../../../../../image/catalog/icon/select_icon.png');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right:30px;
    width:100%;
    border: 1px solid #e3e3e3;
    padding: 4px;
    color: black;
}
.menu_comparison_list>li.active>a{
    border-radius: 0px;
    background-color:#fab446 !important;
    color:black !important;
    font-weight: bold;
    border:0px solid transparent !important;
}
.menu_comparison_list>li.active>a:hover{
    border-radius: 0px;
    background-color:#fab446;
    color:black;
    font-weight: bold;
    border:0px solid transparent;

}
.menu_comparison_list>li>a:hover{
    border-radius: 0px;
    background-color:#fab446;
    color:black;
    font-weight: bold;
    border:0px solid transparent;
}
.menu_comparison_list>li>a{
    color:black;
    font-weight: bold;
    border:0px solid transparent;
    font-size:14px;
}
.menu_comparison_list{
    border:0px solid transparent;
}
.borderlist th, .borderlist td {
     border-top: none !important;
 }
 .owl-item{
     min-width:100px !important;
 }

.cart_money_icon{
    background-image: url('../../../../../image/catalog/icon/cart_money_icon.png');
    background-repeat:no-repeat;
    background-size: 100%;
}

.cart_icon_background{
    background-image: url('../../../../../image/catalog/cart_icon_background.png');
    background-repeat:no-repeat;
    background-size: 100%;
}
.to_print{
    visibility: hidden;
}

@media print {
    .cart_print_product_block{
        height:200px;
    }
    .cart_print_color{
        height: 50px;
    }

    .print_left_border{
        border:0px solid transparent;
    }
    .to_print{
        visibility: visible;
    }
    .print_name_show{
        font-size:15px;
    }
    .cart_print_image{
        float:left;
        width:150px;
    }
    .cart_print_select{
        float:left;
        width:150px;
    }
    .no_print{
        visibility: hidden;
        position: absolute;
    }
    .cart_for_print{
        visibility: visible;
    }
}

.icon_you_have_question{
    background-image: url('../../../../../image/catalog/icon/icon_you_have_question.png');
    background-repeat:no-repeat;
}
.icon_dolar{
    background-image: url('../../../../../image/catalog/icon/icon_dolar.png');
    background-repeat:no-repeat;
}

.pogonash_icon_cart{
    background-image: url('../../../../../image/catalog/icon/pogonash_icon_cart.png');
    background-repeat:no-repeat;
    background-size: 100%;
}
.img-thumbnail{
    border-radius: 0px;
    background-color:#fab446;
    padding:3px;
}
@media (max-width:767px) {
    .col-xs-auto{ width: auto; }
}
@media (min-width: 768px) and (max-width: 991px) {
    .col-sm-auto{ width: auto; }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .col-md-auto{ width: auto; }
}
@media (min-width: 1200px) {
    .col-lg-auto{ width: auto; }
}
.bf-attr-header{
    font-size:15px;
}
.pagination>li>a, .pagination>li>span{
    border:0px solid transparent;
}
.pagination>li.active>span{
    border-radius:50%;
}
.pagination>li>a:hover{
    border-radius:50%;
    background-color:#337ab7;
    color:white;
}
.pagination>li>a{
    margin:0px;
}
.pagination>li>a{
    border-radius:50%;
}
input:checked {
}
input:checked {
  margin-left: 25px;
  border: 1px solid blue;
  color: red;
    background-color: red;
}
input[type="checkbox"]:checked + label::after{
    background: red;
}



.nav .open{
    background-color:#eee;
}
@media (min-width: 200px) and (max-width: 1200px) {
    .blockComplectArrow::before, .blockComplectArrow::after {
        content: '';
        position: absolute;
        left: 20px; bottom: -20px;
        border: 10px solid transparent;
        border-top: 10px solid #fab446;
    }

    .blockComplectArrow::after {
     border-top: 10px solid white;
     bottom: -18px;
    }
    .blockWithoutComplectC{
        margin-left:10px;
        margin-right:10px;
    }
    .blockWithComplectC{
        margin-left:10px;
        margin-right:10px;
    }
}
@media (min-width: 1200px) {
    .blockComplectArrow::after {
        content: '';
        position: absolute;
        right: -28px; top: 10px;
        border: 12px solid transparent;
        z-index:100;
        border-left: 15px solid #fab446;
     }
     .blockComplectArrow::before {
        content: '';
        position: absolute;
        right: -24px; top: 10px;
        z-index:101;
        border: 12px solid transparent;
        border-left: 15px solid white;
    }
}
@media (min-width: 768px) {
    .blockComplectArrowP::before, .blockComplectArrowP::after {
        content: '';
        position: absolute;
        right: 40px; bottom: -20px;
        border: 10px solid transparent;
        border-top: 10px solid #fab446;
    }

    .blockComplectArrowP::after {
     border-top: 10px solid white;
     bottom: -17px;
    }

    .blockButtomArrow::before, .blockButtomArrow::after {
        content: '';
        position: absolute;
        right: 45%; bottom: -16px;
        border: 9px solid transparent;
        border-top: 9px solid #fab446;
    }

}
.icon_arrow_pogonazh{
    background-image:url('../../../../../image/catalog/icon/icon_arrow_pogonazh.png');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor:pointer;
}
.delivery_info{
	height: auto;
	min-height: 105px;
	background: url("/image/catalog/delivery_info.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	margin: 15px 0 35px 0;
	border-top: 1px solid transparent;
}
.delivery_content{
	margin: 25px 0 0 25px;
	font-size: 14px;
}
.delivery_text{
	margin: 20px 0 20px 25px;
	padding-left: 91px;
	font-size: 15px;
	position: relative;
}
.delivery_text:before{
	display: block;
	width: 58px;
	height: 47px;
	content: url("/image/catalog/delivery_info_icon.png");
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -23px;
}
#delivery_price, #delivery_city{
	font-weight: 700;
}
.form_city{
    position: relative;
}
.dropdown_city > .list_cities{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
    position: absolute;
    top: 40px;
    left: 0;
    background: white;
    z-index: 10;
}
.allColor{
    border:1px solid #f1f1f1;
    z-index:2;
    position:absolute;
    display:none;
    background-color: white;
    max-width:100px;
    top:26px;
    float:left;
    padding:5px;
    padding-bottom:0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.moskva{
    background-image: url('../../../../../image/catalog/icon/dostavka_moskva.png');
    background-repeat:no-repeat;
    background-size: 50%;
    background-position: 20% 0px;
}

@media (min-width: 200px) and (max-width: 780px) {
    .actionHeight{
        height:auto;
    }
    .actionImage{
        min-width:150px;
        max-width:200px;
    }
}
@media (min-width: 780px) {
    .actionHeight{
        height:200px;
    }
    .actionImage{
        width:100%;
    }
}
.mfilter-box{
    background-color: #f9f9f9;
    border:1px solid #e3e3e3;
}
.mfilter-content > ul > li{
    border-top:1px solid #e3e3e3;
    padding-left:5px !important;
    padding-right:5px !important;
}
.mfilter-heading{
    background-color: transparent !important;
}

.mfilter-opts-container {
    border-top: 0px solid transparent !important;
}
.mfilter-content{
    border:0px solid transparent !important;
}
.mfilter-heading-text{
    font-weight: bold;
    color:black;
    font-size:14px;
    font-family: 'Open Sans', sans-serif
}
.mfilter-head-icon{
    color:#fab446;
}
.mfilter-counter{
    background-color: #F46234 !important;
}
.mfilter-price-slider{
    margin-bottom: 10px
}
.mfilter-heading-content{
    padding-bottom:0px !important;
}





.bf-slider-container.ui-slider .ui-slider-handle, .bf-slider-range.ui-slider .ui-slider-handle{
    background-image: url('../../../../../image/catalog/icon/icon_price.png') !important;
    border:0px solid transparent !important;
    border-radius: 0px;
    margin-top: -5px;
    width:20px !important;;
    height:26px !important;
    outline: none;
}
.box .bf-check{
    border:1px solid #e3e3e3;
}
.bf-layout-id-0 .bf-count {
    background: #f9a51e;
}
.bf-layout-id-0 .bf-attr-header{
    background-color:transparent !important;
    //font-weight: bold;
}
input[type=text].bf-range-max, input[type=text].bf-range-min, input[type=text].bf-slider-input{
    width:35% !important;
}
.bf-cross, .price-cross, .bf-close-btn, .bf-arrow{
    display: block !important;
    float: right !important;
    background: url('mf/images/icons.png?v7') no-repeat 0 -39px !important;
    transition: all 0.5s ease !important;
    -webkit-transition: all 0.5s ease !important;
    -moz-transition: all 0.5s ease !important;
    width: 17px !important;
    height: 9px !important;
    margin-right: -3px !important;
    margin-top: 4px !important;
    padding:0px !important;
}
.bf-attr-header{
    font-weight: bold !important;
    font-size: 14px;
}
.bf-form div:nth-last-of-type(2) .bf-attr-filter:last-child .bf-cell{
    border-bottom:0px solid transparent !important;
}

.icon_contact_salon{
    background-image: url('../../../../../image/catalog/icon/icon_contact_salon.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.contactHeaderShow{
    color:black;
}

.contentInfo{
    display:none;
}

.selected_fields .bf-cross,
.selected_fields .price-cross,
.selected_fields .bf-close-btn,
.selected_fields .bf-arrow{
    background: url('mf/images/icons.png?v7') no-repeat 0 0 !important;
    margin-top: 0px !important;
}
.bf-cross, .price-cross, .bf-close-btn, .bf-arrow{
    display: inline-block !important;
    background: url('mf/images/icons.png?v7') no-repeat 0 -39px !important;
    transition: all 0.5s ease !important;
    -webkit-transition: all 0.5s ease !important;
    -moz-transition: all 0.5s ease !important;
    width: 17px !important;
    height: 9px !important;
    margin-right: -3px !important;
    margin-top: 4px !important;
    padding:0px !important;
}

.tooltip > .tooltip-inner {
    background-color: #f15923;
}
.tooltip > .tooltip-inner:before{
    border-bottom-color:#f15923;
}
.tooltip.top > .tooltip-arrow {
    border-bottom-color:#f15923;
  }
  /* Tooltip on bottom */
.tooltip.bottom > .tooltip-arrow {
    border-bottom-color:#f15923;
  }
  /* Tooltip on left */
.tooltip.left > .tooltip-arrow {
    border-bottom-color:#f15923;
  }
  /* Tooltip on right */
 .tooltip.right > .tooltip-arrow {
    border-bottom-color:#f15923;
  }

 .categ-show-hint,
 .product-show-hint,
 .cart-show-hint{
	 margin-top: 10px;
 }
